// COLORS VARIABLE
$gray: #cccccc;
$gray-normal: #666666;
$gray-dark: #999999;
$green: #587e4d;
$green-dark: #32403a;
$black: #333;
$yellow: #c6bd59;

$text: $gray-normal;
$text-dark-normal: $gray;
$text-dark: $gray-dark;
$border: $gray;

$bg-gray: #f5f5f5;

// FONTS VARIABLE
$oswald: "Oswald", sans-serif;
$open: "Open Sans", sans-serif;

// PARAMETRIC-MIXIN
@mixin selection(){
	::selection{}
	::-moz-selection{}
}
@mixin opacity ( $value: 0.5 ) {
	opacity: $value;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=” $value * 100 “)";
	filter: alpha(opacity= $value * 100 );
	zoom: 1;
}
@mixin antialias {
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
}
@mixin resetlist{
	list-style: none outside none;
	padding: 0;
	margin: 0;
}
@mixin circle( $size: 35px ){
	text-align: center;
	display: inline-block;
	line-height: $size;
	height: $size;
	width: $size;
	border-radius: 50%;
}
@mixin placeholder(){
	::-webkit-input-placeholder {
		font-size: 11px;
		text-transform: uppercase;
	}
	:-moz-placeholder { /* Firefox 18- */
		font-size: 11px;
		text-transform: uppercase;
	}
	::-moz-placeholder {  /* Firefox 19+ */
		font-size: 11px;
		text-transform: uppercase;
	}
	:-ms-input-placeholder {  
		font-size: 11px;
		text-transform: uppercase;
	}
}
@mixin bordradius( $value: 12px ){
	border-radius: $value;
}