---
layout: default
title: Resources Page
---

<div class="container">
	<div class="row main-container">
		
		<div class="space40"></div>
		<div class="clearfix"></div>

		<div class="col-md-12 page-content clearfix">

			<h2 class="title-section text-capitalize text-center">
				query guidelines
			</h2>
			<p class="intro-page text-center" style="max-width: 760px; margin: -40px auto 20px;">MacGregor Literary is not accepting unsolicited queries and proposals at this time. However, we are happy to share some thoughts on the submission process. When submitting a query to a prospective agent, you should normally follow these guidelines:</p>

			<div class="space30"></div>

			<div class="row row-inner">
				
				<div class="col-md-6">
					
					<ul class="list-dot-circle">
						<li>
							<p>Indicate who referred you to the agent</p>
						</li>
						<li>
							<p>Limit your query to one page</p>
						</li>
						<li>
							<p>Be clear in revealing the genre and subject of your manuscript, as well as identifying your target audience</p>
						</li>
						<li>
							<p>Point out what is unique or particularly strong about your idea</p>
						</li>
						<li>
							<p>Give a sense of your vision of marketing your book</p>
						</li>
						<li>
							<p>Share about your writing experience</p>
						</li>
					</ul>

				</div><!-- / .col-md-6 -->

				<div class="col-md-6">

					<figure>
						<img src="../images/resources.jpg">
					</figure>
					
				</div><!-- / .col-md-6 -->

				<div class="clearfix"></div>
				<div class="space40"></div>
				<div class="space40"></div>

			</div><!-- / .row-inner -->

		</div><!-- / .col-md-12 .page-content -->

	</div><!-- / .row .main-container -->
</div>

<section id="more" class="section-box section-more bg-gray">
	<div class="container">
		
		<h2 class="title-section text-reset">Why Do I Need an Agent</h2>

		<p class="intro-page" style="margin: -40px auto 20px;">
			Our company can offer numerous benefits to you in in seeking a publishing deal.
		</p>
		<a href="#" class="btn btn-green btn-l">
			<span>learn more</span>
		</a>
	</div>
</section>
