---
layout: tonang-default
title: Slice Chip MacGregor
---

<section id="table-page" class="section-box clearfix" style="min-height: 500px;">
    <div class="container">
 
        <header class="section-header">
            <h2 class="title-page">available page</h2>
            <p class="subtitle-page">Hi Guys, please check the link in table below!, there is a page that have done convertation, but if there have an issue please give me ticket to know that!</p>
        </header>
        
        <div class="table-responsive table-tonang">
            <table class="table">
                <thead>
                    <tr>  
                        <td>No</td>
                        <td>Name of page</td>
                        <td>link of page</td>
                    </tr>
                </thead>
                <tbody>
                    {% for o in site.data.navfront %}
                        <tr>
                            <td scope="row">{{ o.nomor }}</td>
                            <td>{{ o.title }}</td>
                            <td>
                                <!-- <a href="{{ o.link }}" class="btn btn-line btn-line-gold" attribute="_blank">goto the link</a> -->

                                <a href="../_site{{ o.link }}index.html" class="btn btn-line btn-line-gold" attribute="_blank">goto the link</a> 
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                
            </table>
        </div><!-- / .table-responsive -->

    </div>    
</section><!-- / #table-page -->

