---
layout: default
title: Homepage Site
---

<div class="container">
	<div class="row main-container">

		<div class="space40"></div>
		<div class="clearfix"></div>
		
		<div class="col-md-12 page-content clearfix">

			<article class="single-article clearfix">
				<figure class="alignright thumb-right">
					<img src="../images/articles/big.jpg">
					<div class="space20"></div>
				</figure>

				<header>
					<p class="meta-date">August 12, 2015</p>
					<h1>what's the best step for my novel writing career?</h1>
					<p class="meta-author">
						by	<a href="#">Chip MacGregor</a>
					</p>
				</header>

				<p><b>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</b></p>

				<p>I’ve thought about this a lot, since I represent a number of novelists. I suppose part of me wants to say to beginners, “Take a class so you’re forced to write” or “find a writing partner so you’ve got someone to hold you accountable.” But, after having mulled it over, here’s my response: Spend some time hanging out with other successful writers.</p>

				<p> I just believe there’s value in doing that, if you want to take the next step in your career. How to do that? First, attend a great writing conference, then force yourself to attend stuff and meet people. It just seems like most of the novelists I know (not all, but most) found their careers moved forward by a writing conference. They got a chance to learn from really good writing instructors, they got to hear about the bigger industry, and they got to rub shoulders with a bunch of other writers.</p>

				<p>That last part is part is particularly important. Writing is a solitary business, and it’s easy to go into your cave, produce something, and have no context for knowing if it’s any good (besides having a firm belief in your own abilities, and a loving partner who tells you how wonderful you are). So being able to sit and talk with other writers is a blessing — you find out they are facing some of the same obstacles you are, and you’ll be encouraged by the people who overcame those problems and moved on to the next step. You’ll discover creative people who you like, and who inspire you, and who sometimes have great solutions to suggest to you. I don’t do a bunch of conferences any more, because my schedule won’t allow it, but I try to go to RWA and ACFW every year, and get to Thrillerfest or West Coast Crime or Bouchercon or one of the suspense-writers gatherings. Every other year I aim to be at the Calvin Festival of Faith and Writing, since it’s such a fabulous gathering of great minds. And once in a while I’ll speak at a smaller conference (I did one in Portland this year), just to meet with authors and try to give back a bit. This is the end of conference season, but there will surely be a good writing conference close to you sometime in the next year — so try attending one and participating fully. It will make a difference.</p>

				<p>The second thing I’d suggest is that you read great books. It’s another way to hang out with great writers. Don’t just read in your genre, though that’s a good place to start. Pick up GREAT literature and read it. There’s a reason a classic is called that, or why an influential book has staying power — it speaks to people about the art. Recently I’ve read a half-dozen titles that I think are wonderful novels — Chad Harbach’s The Art of Fielding, Jack Finney’s Time and Again, Sara Gruen’s Water for Elephants, Yann Martel’s Life of Pi. I also just read Lisa Samson’s latest, The Sky Beneath my Feet, Vince Zandri’s The Remains, and I just re-read Susan Meissner’s Girl in the Glass and Mark Bertrand’s Pattern of Wounds. All were well-written and interesting. I also read a debut novel, Holly Lorincz’s Smart Mouth (which, if you haven’t read, you should check out on Amazon — the first chapter will have you laughing out loud). And if you want a difficult, edgy bit of reading that will astound you, pick up Les Edgerton’s The Rapist. Tough title, but a fabulously well-written book. If you want to be a great writer, hang out with other great writers. My advice. (And yes, I got to represent several of these titles. I’m biased, but these are all great writers.)</p>

				<p>There are other steps — join a writing group, develop a writing partner, write a lot, etc. But I think those are answers you’ve probably heard a bunch of times. From my perspective, the one thing that doesn’t get talked about enough with writers is the importance of hanging out with other writers and their words. You’ll get exposed to great thoughts, see words and stories in new ways, and be encouraged that there are other people just as strange as you.</p>
				<div class="box-share clearfix">
					<span>Share :</span>
					<ul>
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-envelope"></i></a></li>
					</ul>
				</div>
			</article>
			
		</div><!-- / .col-md-12 .page-content -->

	</div><!-- / .row .main-container -->
</div>