<footer class="site-footer">
	<div class="container">

		<div class="top-footer">
			<div class="row">
				
				<div class="col-md-4">
					
					<div class="widget-footer widget-text clearfix">
						
						<img src="../images/logo-bottom.png" width="55" height="51">
						<div class="space20"></div>

						<p>MacGregor Literary</p>
						<p class="text-yellow">PO BOX 1316</p>
						<p class="text-yellow">Manzanita, OR 97130</p>

						<div class="space15"></div>
						<p>
							Phone: <span class="text-yellow">(503) 277-8308</span>
						</p>
						<p>
							Email: <a href="#" class="text-yellow">chip@macgregorliterary.com</a>
						</p>

					</div><!-- / .widget-footer widget-text -->

				</div><!-- / .col-md-4 -->

				<div class="col-md-2">

					<div class="widget-footer widget-nav clearfix">
						<ul class="list-nav">
							<li><a href="#">home</a></li>
							<li><a href="#">author</a></li>
							<li><a href="#">blog</a></li>
							<li><a href="#">contact</a></li>
						</ul>
					</div><!-- / .widget-footer .widget-nav -->

					<div class="widget-footer widget-link clearfix">
						<h4 class="title-widget">resources</h4>
						<ul class="list-link">
							<li><a href="#">Resources</a></li>
							<li><a href="#">Choosing An Agent</a></li>
						</ul>
					</div><!-- / .widget-footer .widget-link -->
					
				</div><!-- / .col-md-2 -->

				<div class="col-md-3">
					
					<div class="widget-footer widget-link clearfix">
						<h4 class="title-widget">about</h4>
						<ul class="list-link">
							<li><a href="#">About Us</a></li>
							<li><a href="#">Holly Lorincz</a></li>
							<li><a href="#">Erin Buterbaugh</a></li>
							<li><a href="#">Chip MacGregor</a></li>
							<li><a href="#">Amanda Luedeke</a></li>
							<li><a href="#">Q & A with Chip</a></li>
						</ul>
					</div><!-- / .widget-footer .widget-link -->


				</div><!-- / .col-md-3 -->

				<div class="col-md-3">

					<div class="widget-footer widget-link clearfix">
						<h4 class="title-widget text-white">let's connect</h4>

						<ul class="list-socmed-widget">
							<li>
								<a href="#">
									<i class="fa fa-facebook"></i>	
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-twitter"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-rss"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-linkedin"></i>
								</a>
							</li>
						</ul>
					</div><!-- / .widget-footer .widget-link -->
					
				</div><!-- / .col-md-3 -->

			</div>
		</div><!-- / .top-footer -->

		<div class="bottom-footer">
			<p class="copyright">Copyright &copy; 2015 <a href="#">MacGregor Literary</a></p>

			<div class="space40"></div>
		</div><!-- / .bottom-footer -->

	</div>
</footer>