<header class="site-header">
	<div class="container">

		<div class="header-left">
			<div class="logo">
				<a href="#">
					<img src="../images/logo@2x.png" width="190">
				</a>
			</div>
		</div><!-- / .header-left -->

		<div class="header-right">

			<div class="header-top clearfix">
				<form action="" class="form-search">
					<input type="text" placeholder="Search">
					<input type="submit">
				</form>

				<ul class="list-socmed">
					<li><a href="#"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
					<li><a href="#"><i class="fa fa-rss"></i></a></li>
				</ul><!-- / .list-socmed -->
			</div><!-- / .header-top -->

			<div class="header-bottom clearfix">
				<div class="main-navigation">
					<ul>
						<li class="active"><a href="#">home</a></li>
						<li><a href="#">about</a></li>
						<li><a href="#">authors</a></li>
						<li><a href="#">resources</a></li>
						<li><a href="#">blog</a></li>
						<li><a href="#">contact</a></li>
					</ul>
				</div>
			</div><!-- / .header-bottom -->

		</div><!-- / .header-right -->

		<div class="rwd-header clearfix">
			
			<div class="rwd-navigation-first">
				<!-- For ipad version -->
				<ul></ul>
			</div>

			<div class="rwd-navigation-second">
				<!-- For mobile version -->
				<div class="btn btn-green btn-fullwidth" data-target=".nav-collapse" data-toggle="collapse">
					<span>
						<i class="fa fa-bars"></i> Select a page
					</span>
				</div>
				<ul class="nav-collapse mobile-nav collapse"></ul>
			</div>
		</div>

	</div>
</header>