<head>
    <!-- ** METAS ** --> 
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">

    <!-- ** TITLE ** -->
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <!-- ** ADD CSS FRAMEWORKS ** -->
    <link href="{{ "../css/bootstrap.css" | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ "../css/font-awesome.css" | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ "../css/animate.css" | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ "../css/owl.carousel.css" | prepend: site.baseurl }}" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,300,700" rel="stylesheet" type="text/css">

    <!-- ** ADD OWN STYLESHEETS ** -->
    <link href="{{ "../css/app.css" | prepend: site.baseurl }}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="../js/html5shiv.js"></script>
		<script src="../js/respond.min.js"></script>
		<link href="//netdna.bootstrapcdn.com/respond-proxy.html" id="respond-proxy" rel="respond-proxy">
		<link href="../js/respond.proxy.gif" id="respond-redirect" rel="respond-redirect">
		<script src="../js/respond.proxy.js"></script>
	<![endif]-->
</head>