<script src="../js/jquery-1.10.2.js" type="text/javascript"></script>
<script src="../js/bootstrap.js" type="text/javascript"></script>
<script src="../js/owl.carousel.js" type="text/javascript"></script>
<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="../js/jquery.ui.map.js"></script>
<script src="../js/scripts.js" type="text/javascript"></script>
