        <header class="site-header">
            <div class="container">
                <div class="site-header-inner clearfix">

                    <div class="rwd-logo">
                        
                    </div>

                    <div class="page-info">
                        <h1>LIST PAGE <span>/ finished working on</span></h1>
                    </div><!-- / .page-info -->

                    <div class="logo">
                        <a href="index.html">
                            <img src="images/logo.png" width="240">
                        </a>
                    </div><!-- / .logo -->
                    
                </div><!-- / .site-header-inner -->

            </div>
        </header>