<div class="footer-animate clearfix"></div>
<footer class="site-footer">
    <div class="container">
        
        <p class="footer-desc">I'm Web Designer & Front End Web Developer with 3 years of professional experience. If you like my work and have some awesome project, please feel free to <a href="mailto:rizwanaritonang@gmail.com">send me email</a>, or just <a href="https://www.upwork.com/freelancers/~0171230539c1e600fe">hire me on UpWork</a></p>

        <ul class="list-socmed">
            <li><a href="https://twitter.com/JuanTonang"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://instagram.com/juantonang/"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://id.linkedin.com/pub/rizwan-hutama-aritonang/3a/a68/213"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="https://github.com/tonang"><i class="fa fa-github-alt"></i></a></li>
            <li><a href="mailto:rizwanaritonang@gmail.com"><i class="fa fa-envelope"></i></a></li>
        </ul>

        <p class="copyright">Builth with <i class="fa fa-heart"></i> at Subang, Indonesia</p>

    </div>
</footer>