---
layout: default
title: About Agent List Page
---

<div class="container">
	<div class="row main-container">
		
		<div class="space40"></div>
		<div class="clearfix"></div>

		<div class="col-md-3 page-category clearfix">
			
			<div class="box-category">
				<ul>
					<li>
						<a href="#">overview</a>
					</li>
					<li class="active">
						<a href="#">agents</a>
					</li>
				</ul>
			</div>

			<div class="rwd-box-category">
				<span class="btn-rwd-category">Select Category ...</span>
				<ul></ul>
			</div><!-- / .rwd-box-category -->
			
		</div><!-- / .col-md-3 .page-category -->

		<div class="col-md-9 page-content clearfix">
			<p class="intro-page">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo iusmod tempor incididunt consequat.</p>
			
			<ul class="list-page-content">
				<li>
					<article class="list-page clearfix">
						
						<figure class="alignleft page-thumb">
							<a href="#">
								<img src="../images/team/1.jpg" width="170" height="200">
							</a>
						</figure>

						<div class="content-article">
							
							<h2><a href="#">Amanda Luedeke</a></h2>

							<p>Agent Amanda Luedeke (LEE-duh-key) wrote her first book – a picture book entitled A Cat – when she was 5 years old.</p>

							<a href="#" class="btn btn-line btn-line-green btn-s">
								<span>read more</span>
							</a>

						</div>

					</article>
				</li>
				<li>
					<article class="list-page clearfix">
						
						<figure class="alignleft page-thumb">
							<a href="#">
								<img src="../images/team/2.jpg" width="170" height="200">
							</a>
						</figure>

						<div class="content-article">
							
							<h2><a href="#">Erin Buterbaugh</a></h2>

							<p>Agent Erin Buterbaugh was the kind of child parents wanted their kids to be friends with, in hopes that her extensive vocabulary and love of books would be a good influence.</p>

							<a href="#" class="btn btn-line btn-line-green btn-s">
								<span>read more</span>
							</a>

						</div>

					</article>
				</li>
				<li>
					<article class="list-page clearfix">
						
						<figure class="alignleft page-thumb">
							<a href="#">
								<img src="../images/team/3.jpg" width="170" height="200">
							</a>
						</figure>

						<div class="content-article">
							
							<h2><a href="#">Holly Lorincz</a></h2>

							<p>Agent Holly Lorincz spent her youth mainlining salmon, venison and books while sitting, shivering, on a dock on the Columbia River.</p>

							<a href="#" class="btn btn-line btn-line-green btn-s">
								<span>read more</span>
							</a>

						</div>

					</article>
				</li>
				<li>
					<article class="list-page clearfix">
						
						<figure class="alignleft page-thumb">
							<a href="#">
								<img src="../images/team/4.jpg" width="170" height="200">
							</a>
						</figure>

						<div class="content-article">
							
							<h2><a href="#">Brian</a></h2>

							<p>Though the scintillating masterpiece never made it to bookstore shelves, it solidified her dream to one day work in the book industry.</p>

							<a href="#" class="btn btn-line btn-line-green btn-s">
								<span>read more</span>
							</a>

						</div>

					</article>
				</li>
			</ul>

		</div><!-- / .col-md-9 .page-content -->

	</div><!-- / .row .main-container -->
</div>