---
layout: default
title: Blog Single Page
---

<div class="container">
	<div class="row main-container">

		<div class="space40"></div>
		<div class="clearfix"></div>
		
		<div class="col-md-12 page-content clearfix">

			<ul class="list-articles">

				<li>
					<article class="list-article clearfix">
						
						<div class="content-article">
							<header>
								<p class="meta-date">August 12, 2015</p>
								<h2><a href="#">Editing for Authors: Part 4b, The Great and Powerful Style Sheet</a></h2>
								<p class="meta-author">
									by <a href="#">Erin Buterbaugh</a>
								</p>
							</header>

							<p>Welcome back to my series on editing for authors. Last week, I started to talk about the role of a style sheet.</p>
						</div>

					</article>
				</li>

				<li>
					<article class="list-article clearfix">
						
						<div class="content-article">
							<header>
								<p class="meta-date">August 12, 2015</p>
								<h2><a href="#">I'm a writer because i write</a></h2>
								<p class="meta-author">
									by <a href="#">admin</a>
								</p>
							</header>

							<p>Welcome back to my series on editing for authors. Last week, I started to talk about the role of a style sheet.</p>
						</div>

					</article>
				</li>

				<li>
					<article class="list-article clearfix">
						
						<figure class="alignleft small-thumb">
							<a href="#">
								<img src="../images/articles/2.jpg" width="270" height="170">
							</a>
						</figure>

						<div class="content-article">
							<header>
								<p class="meta-date">August 12, 2015</p>
								<h2><a href="#">never give up (a guest from cameron bane)</a></h2>
								<p class="meta-author">
									by <a href="#">Chip MacGregor</a>
								</p>
							</header>

							<p>Welcome back to my series on editing for authors. Last week, I started to talk about the role of a style sheet.</p>
						</div>

					</article>
				</li>

				<li>
					<article class="list-article clearfix">
						
						<div class="content-article">
							<header>
								<p class="meta-date">August 12, 2015</p>
								<h2><a href="#">writting lessons from the hunger games ( a guest blog)</a></h2>
								<p class="meta-author">
									by <a href="#">Chip MacGregor</a>
								</p>
							</header>

							<p>Welcome back to my series on editing for authors. Last week, I started to talk about the role of a style sheet.</p>
						</div>

					</article>
				</li>

				<li>
					<article class="list-article clearfix">

						<figure class="alignleft small-thumb">
							<a href="#">
								<img src="../images/articles/1.jpg" width="270" height="170">
							</a>
						</figure>
						
						<div class="content-article">
							<header>
								<p class="meta-date">August 12, 2015</p>
								<h2><a href="#">what's happening with christian non-fiction</a></h2>
								<p class="meta-author">
									by <a href="#">Chip MacGregor</a>
								</p>
							</header>

							<p>Welcome back to my series on editing for authors. Last week, I started to talk about the role of a style sheet.</p>
						</div>

					</article>
				</li>

				<li>
					<article class="list-article clearfix">
						
						<div class="content-article">
							<header>
								<p class="meta-date">August 12, 2015</p>
								<h2><a href="#">writting lessons from the hunger games ( a guest blog)</a></h2>
								<p class="meta-author">
									by <a href="#">Chip MacGregor</a>
								</p>
							</header>

							<p>Welcome back to my series on editing for authors. Last week, I started to talk about the role of a style sheet.</p>
						</div>

					</article>
				</li>

			</ul>

			<div class="clearfix"></div>
			<div class="pagin-container text-left">
				
				<a href="#" class="prev">
					<i class="fa fa-chevron-left"></i>
				</a>
				<span>1</span>
				<a href="#">2</a>
				<a href="#">3</a>
				<a href="#">4</a>
				<a href="#">5</a>
				<a class="next">
					<i class="fa fa-chevron-right"></i>
				</a>

			</div><!-- / .pagin-container -->
			
		</div><!-- / .col-md-12 .page-content -->

	</div><!-- / .row .main-container -->
</div>