---
layout: default
title: About Overview Page
---

<div class="container">
	<div class="row main-container">
		
		<div class="space40"></div>
		<div class="clearfix"></div>
		
		<div class="col-md-3 page-category clearfix">
			
			<div class="box-category">
				<ul>
					<li class="active">
						<a href="#">overview</a>
					</li>
					<li>
						<a href="#">agents</a>
					</li>
				</ul>
			</div><!-- / .box-category -->

			<div class="rwd-box-category">
				<span class="btn-rwd-category">Select Category ...</span>
				<ul></ul>
			</div><!-- / .rwd-box-category -->

		</div><!-- / .col-md-3 .page-category -->

		<div class="col-md-9 page-content clearfix">
			
			<article class="article-page">
				<figure class="alignnone thumb-full">
					<img src="../images/about/1.jpg">
					<div class="space30"></div>
					<div class="space10"></div>
				</figure>

				<div class="article-authors clearfix">
					<figure class="alignleft circle">
						<img src="../images/about/user.jpg" width="170" height="170">
					</figure>
					<div class="content-authors">
						<h3>Chip MacGregor</h3>
						<p>When he was in first grade, Chip hurried home one day and announced to his mother, “When I grow up, I’m going to be a book guy!” He clearly could see the future —from high school literary magazine editor to writing bestselling books, from speaking at writing and publishing conferences to representing renowned writers, Chip MacGregor is a book guy.</p>
					</div>
				</div><!-- / .article-authors -->

				<hr>
				<blockquote>
					<p>Chip’s greatest desire is to help authors create great books that make a difference in the world. That’s what every book guy wants most.</p>
					<cite>Jill Williamson</cite>
				</blockquote>
				<hr>

				<p>Chip has a comprehensive knowledge of the industry—from book development to writing, acquisition to production, marketing to sales. A former Associate Publisher with the Time-Warner Book Group, he has secured nearly 1,000 book deals for authors with all of the major publishers, including numerous imprints at Penguin Random House, Simon & Schuster, Hachette, HarperCollins, Thomas & Mercer, Jossey-Bass, Llewellyn, Zondervan, Thomas Nelson, Baker, Tyndale, Waterbrook, Howard, B&H, Worthy, Revell, Harvest House, and dozens of others. As an editor, he discovered Phillip Gulley, worked with bestselling authors such as Andy Andrews and Karen Kingsbury, and helped craft books for some of the best names in publishing, including Vince Zandri Chuck Swindoll, Mindy Clark, and David Jeremiah. He has also written more than two-dozen titles, including two books that hit #1 on the bestseller lists in their category, and he has been the collaborative writer on nearly three-dozen other titles. During his tenure as a publisher at Time Warner, he helped start Center Street, the “heartland publishing” initiative at what is now Hachette, and did books with the likes of Mike Huckabee and John Ashcroft.</p>
				<p>As a longtime agent he has represented Brennan Manning, Vincent Zandri, Rachel Hauck, Mindy Clark, Irene Hannon, Bonnie Gray, Michelle McKinney Hammond, Jill and Stuart Briscoe, Alistair McGrath, Neta Jackson, Vickie McDonough, the MOPS organization, and many others. His work with Lisa Beamer and Ken Abraham led to Let’s Roll hitting #1 on the New York Times bestseller list, eventually becoming the bestselling nonfiction book the year it released. After starting his own agency, he has focused on helping bring great fiction to market, representing authors such as Leslie Gould, Les Edgerton, Ann Tatlock, Jim Kraus, and Janice Thompson. Some of his bestselling nonfiction clients include New York Times bestsellers Mike Hingson and Susy Flory, bestselling writers Sheila Wray Gregoire, Shane Stanford, David Thomas, and Ira Wagler. A longtime member of AAR, he has represented dozens of books on all the national bestseller lists, and the authors he represents have won numerous national awards.</p>
				<p>A popular writer’s conference speaker, Chip has presented workshops at more than 200 publishing conferences, spoken at colleges and universities, and is frequently invited to speak to writers groups around the country on the topics of writing and publishing. He earned his BS with High Honors at Portland State University, earned an MA with Honors from Biola University, and did his doctoral work at the University of Oregon in Policy and Management, focusing on organizational development. He later did a post-doctoral semester at Oxford University. Chip has been written up in numerous writing and publishing related magazines and newsletters, is frequently asked for his opinions on trends in the publishing industry, and his blog is regularly on the list of Writers Digest’s “101 Best Websites for Writers.”</p>
			</article>

		</div><!-- / .col-md-9 .page-content -->

	</div><!-- / .row -->
</div>