---
layout: default
title: Homepage Site
---

<section id="banner" class="section-banner">
	<div class="container">

		<div class="banner-carousel owl-carousel">
			
			<div class="item item-1">
				<div class="caption clearfix">
					<div class="box-meta">
						<span class="date">13</span>
						<span class="month">Aug</span>
					</div>
					<header class="header-caption">
						<h3><a href="#">tiny bubbles, in the blood</a></h3>
						<p class="meta-extra">Written By <a href="#">Marie Prys</a></p>
					</header>
				</div>
			</div><!-- / .item -->

			<div class="item item-1">
				<div class="caption clearfix">
					<div class="box-meta">
						<span class="date">14</span>
						<span class="month">Aug</span>
					</div>
					<header class="header-caption">
						<h3><a href="#">tiny bubbles, in the blood</a></h3>
						<p class="meta-extra">Written By <a href="#">Marie Prys</a></p>
					</header>
				</div>
			</div><!-- / .item -->

			<div class="item item-1">
				<div class="caption clearfix">
					<div class="box-meta">
						<span class="date">15</span>
						<span class="month">Aug</span>
					</div>
					<header class="header-caption">
						<h3><a href="#">tiny bubbles, in the blood</a></h3>
						<p class="meta-extra">Written By <a href="#">Marie Prys</a></p>
					</header>
				</div>
			</div><!-- / .item -->

			<div class="item item-1">
				<div class="caption clearfix">
					<div class="box-meta">
						<span class="date">16</span>
						<span class="month">Aug</span>
					</div>
					<header class="header-caption">
						<h3><a href="#">tiny bubbles, in the blood</a></h3>
						<p class="meta-extra">Written By <a href="#">Marie Prys</a></p>
					</header>
				</div>
			</div><!-- / .item -->

		</div><!-- / .banner-carousel -->

	</div>
</section>

<div class="container">
	<div class="line-separator"></div>
	<div class="space20"></div>
	<div class="row main-container">
		
		<div class="col-md-8 articles-content clearfix">
			
			<ul class="list-articles">

				<li>
					<article class="list-article clearfix">
						
						<div class="content-article">
							<header>
								<p class="meta-date">August 12, 2015</p>
								<h2><a href="#">Editing for Authors: Part 4b, The Great and Powerful Style Sheet</a></h2>
								<p class="meta-author">
									by <a href="#">Erin Buterbaugh</a>
								</p>
							</header>

							<p>Welcome back to my series on editing for authors. Last week, I started to talk about the role of a style sheet.</p>
						</div>

					</article>
				</li>

				<li>
					<article class="list-article clearfix">
						
						<div class="content-article">
							<header>
								<p class="meta-date">August 12, 2015</p>
								<h2><a href="#">I'm a writer because i write</a></h2>
								<p class="meta-author">
									by <a href="#">admin</a>
								</p>
							</header>

							<p>Welcome back to my series on editing for authors. Last week, I started to talk about the role of a style sheet.</p>
						</div>

					</article>
				</li>

				<li>
					<article class="list-article clearfix">
						
						<figure class="alignleft small-thumb">
							<a href="#">
								<img src="../images/articles/1.jpg" width="270" height="170">
							</a>
						</figure>

						<div class="content-article">
							<header>
								<p class="meta-date">August 12, 2015</p>
								<h2><a href="#">never give up (a guest from cameron bane)</a></h2>
								<p class="meta-author">
									by <a href="#">Chip MacGregor</a>
								</p>
							</header>

							<p>Welcome back to my series on editing for authors. Last week, I started to talk about the role of a style sheet.</p>
						</div>

					</article>
				</li>

				<li>
					<article class="list-article clearfix">
						
						<div class="content-article">
							<header>
								<p class="meta-date">August 12, 2015</p>
								<h2><a href="#">What’s happening with Christian non-fiction?</a></h2>
								<p class="meta-author">
									by <a href="#">Chip MacGregor</a>
								</p>
							</header>

							<p>Welcome back to my series on editing for authors. Last week, I started to talk about the role of a style sheet.</p>
						</div>

					</article>
				</li>

				<li>
					<article class="list-article clearfix">

						<figure class="alignleft small-thumb">
							<a href="#">
								<img src="../images/articles/2.jpg" width="270" height="170">
							</a>
						</figure>
						
						<div class="content-article">
							<header>
								<p class="meta-date">August 12, 2015</p>
								<h2><a href="#">What do you want to “Ask an Agent”?</a></h2>
								<p class="meta-author">
									by <a href="#">Chip MacGregor</a>
								</p>
							</header>

							<p>Welcome back to my series on editing for authors. Last week, I started to talk about the role of a style sheet.</p>
						</div>

					</article>
				</li>

				<li>
					<article class="list-article clearfix">
						
						<div class="content-article">
							<header>
								<p class="meta-date">August 12, 2015</p>
								<h2><a href="#">Writing Lessons from The Hunger Games (a guest blog)</a></h2>
								<p class="meta-author">
									by <a href="#">Chip MacGregor</a>
								</p>
							</header>

							<p>Welcome back to my series on editing for authors. Last week, I started to talk about the role of a style sheet.</p>
						</div>

					</article>
				</li>

				<li>
					<article class="list-article clearfix">
						
						<div class="content-article">
							<header>
								<p class="meta-date">August 12, 2015</p>
								<h2><a href="#">Writing Lessons from The Hunger Games (a guest blog)</a></h2>
								<p class="meta-author">
									by <a href="#">Chip MacGregor</a>
								</p>
							</header>

							<p>Welcome back to my series on editing for authors. Last week, I started to talk about the role of a style sheet.</p>
						</div>

					</article>
				</li>
				
			</ul>

		</div><!-- / .col-md-8 .articles-content -->

		<div class="col-md-4 sidebar-content clearfix">
			
			<div class="widget-sidebar widget-team">
				<h3 class="title-widget">meet our team</h3>

				<div class="item-team-person clearfix">
					<figure>
						<img src="../images/team/widget1.jpg" width="110" height="120">
					</figure>

					<div class="content-team-person">
						<h4><a href="#">Amanda Luedeke</a></h4>
						<p>Agent Amanda Luede-ke (LEE-duh-key) wrote her first book - a picture book entitled A Cat - when she was 5 years old.</p>
						<a href="#" class="btn btn-line btn-line-green btn-s"><span>read more</span></a>
					</div>
				</div>
			</div><!-- / .widget-sidebar .widget-team -->

			<div class="widget-sidebar widget-subscribe">
				<h3 class="title-widget">subscribe to our newsletter</h3>
				<p>Enter your email address to get new blog updates delivered via email.</p>

				<form class="form-subscribe">
					<input type="email" placeholder="Email address">
					<a href="" class="btn btn-green btn-fullwidth">
						<span>submit</span>
					</a>
				</form>
			</div><!-- / .widget-sideabr .widget-subscribe -->

			<div class="widget-sidebar widget-category">
				<div class="content-category">
					<header class="header-content">
						<p class="meta-category">news</p>
						<h2><a href="#">vince zandri has won the shamus award</a></h2>
					</header>
					
					<p>Welcome back to my series on editing for authors. Last week, I started to talk about the role of a style sheet.</p>

					<a href="#" class="btn btn-line btn-line-green btn-s"><span>read more</span></a>

				</div>
			</div><!-- / .widget-sidebar .widget-category -->

			<div class="widget-sidebar widget-quote">
				<blockquote class="clearfix">
					
					<p>Every author has a different goal in choosing an agent. Signing with Chip MacGregor was like coming home to me -- a professional  relationship with  personal touch. I feel confident asking him the hard questions about my career and writing, knowing I'll get an honest, encouraging  answer. He works hard for me while working hard for others. Chip cares about my career and success. That's what makes him a great partner in this publishing journey.</p>

					<cite>Rachel Hauck</cite>
				</blockquote>
			</div><!-- / .widget-sidebar .widget-quote -->

		</div><!-- / .col-md-4 .sidebar-content -->

	</div><!-- / .row -->

	<div class="line-separator"></div>
</div>

<section id="books" class="section-box section-book">
	<div class="container">

		<h2 class="title-section">the books</h2>

		<div class="row section-inner">
			
			<div class="col-md-4 item-books">
				<div class="subitem-books clearfix">
					<figure>
						<img src="../images/books/1.png" width="100" height="154">
					</figure>

					<div class="books-content">
						<header class="header-books">
							<h3><a href="#">Relentless</a></h3>
							<p class="books-author">Winter austin</p>
						</header>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam interdum elit nec purus tincidunt, convallis iaculis magna bibendum. Donec rutrum a enim ut tincidunt.</p>
					</div>
				</div>
			</div><!-- / .col-md-4 .item-books -->

			<div class="col-md-4 item-books">
				<div class="subitem-books clearfix">
					<figure>
						<img src="../images/books/2.png" width="100" height="154">
					</figure>

					<div class="books-content">
						<header class="header-books">
							<h3><a href="#">Here to Stay</a></h3>
							<p class="books-author">Melissa Tagg</p>
						</header>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam interdum elit nec purus tincidunt, convallis iaculis magna bibendum. Donec rutrum a enim ut tincidunt.</p>
					</div>
				</div>
			</div><!-- / .col-md-4 .item-books -->

			<div class="col-md-4 item-books">
				<div class="subitem-books clearfix">
					<figure>
						<img src="../images/books/3.png" width="100" height="154">
					</figure>

					<div class="books-content">
						<header class="header-books">
							<h3><a href="#">The Dog That Talked God</a></h3>
							<p class="books-author">Jim Kraus</p>
						</header>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam interdum elit nec purus tincidunt, convallis iaculis magna bibendum. Donec rutrum a enim ut tincidunt.</p>
					</div>
				</div>
			</div><!-- / .col-md-4 .item-books -->

		</div><!-- / .row .section-inner -->

	</div>
</section>