---
layout: default
title: About Agent Single Page
---

<div class="container">
	<div class="row main-container">

		<div class="space40"></div>
		<div class="clearfix"></div>

		<div class="col-md-3 page-category clearfix">
			
			<div class="box-category">
				<ul>
					<li>
						<a href="#">overview</a>
					</li>
					<li class="active">
						<a href="#">agents</a>
					</li>
				</ul>
			</div><!-- / .box-category -->

			<div class="rwd-box-category">
				<span class="btn-rwd-category">Select Category ...</span>
				<ul></ul>
			</div><!-- / .rwd-box-category -->

		</div><!-- / .col-md-3 .page-category -->

		<div class="col-md-9 page-content clearfix">
			
			<article class="article-page">
				<div class="article-authors-second clearfix">
					<figure class="alignleft">
						<img src="../images/team/1.jpg" width="170" height="200">
					</figure>
					<div class="content-authors">
						<h3>Amanda Luedeke</h3>
						<p>Amanda Luedeke (LEE-duh-key) wrote her first book – a picture book entitled A Cat – when she was 5 years old. Though the scintillating masterpiece never made it to bookstore shelves, it solidified her dream to one day work in the book industry.</p>

						<ul class="list-socmed-article clearfix">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#"><i class="fa fa-rss"></i></a></li>
						</ul>
					</div>
				</div><!-- / .article-authors -->

				<p>Amanda was a 2006 graduate of the acclaimed Professional Writing program at Taylor University Fort Wayne. Since college, she’s made her living as a writer, working as a freelancer for local newspapers and marketing companies, while operating her own writing business.</p>
				<p>Her love for writing and ability to think strategically landed her a full time job in marketing at an agency in Fort Wayne, Indiana. While there, Amanda wrote web and print copy for Vera Bradley, Baekgaard, Brecks and Peg Perego. She also assisted in marketing strategy for these companies, conducting research, launching social media sites and proposing and working on major projects targeted at the online consumer.</p>
				<p>Yes, she knows … she’s one of those people. She met Chip at an author signing in Barnes and Noble in 2008. After realizing they had a commonality in Taylor University, one thing led to another, and before she knew it, she was helping him with projects, research, and all the little stuff she now assumes he just didn’t feel like doing. Shortly after, Amanda was hired on as Chip’s Assistant.</p>
				<p>Promoted to the role of Agent in 2010, Amanda brings unique interests to the MacGregor Literary team. She represents general market and CBA projects, and her areas of interest include nonfiction, literary fiction, women’s fiction, speculative fiction, YA, and twenty-something/post college-aged hip lit (think Joe Meno, Brett McCracken, Brad Land, JD Salinger).</p>
				<p>Utilizing her marketing background, Amanda blogs every Thursday on ChipMacGregor.com, and she also released a marketing book, The Extroverted Writer.</p>
				<p>Amanda loves big cities, great music, snuggly dogs, and taking online quizzes. Though she considers the Chicagoland area to be home, she currently lives in Fort Wayne, Indiana, with her husband and Great Dane.</p>

				<hr>
				<blockquote>
					<p>When I first heard about Amanda and that she was looking to represent young adult and speculative fiction, it was as if God created an agent just for me. She’s smart, funny, encouraging, and is a no nonsense negotiator. I’m so thrilled to have Amanda looking out for me and my career. I don’t know what I’d do without her!</p>
					<cite>Jill Williamson</cite>
				</blockquote>
				<hr>
				
			</article>

		</div><!-- / .col-md-9 .page-content -->

	</div><!-- / .row -->
</div>