---
layout: default
title: Authors Single Page
---

<div class="container">
	<div class="row main-container">
		
		<div class="space40"></div>
		<div class="clearfix"></div>

		<div class="col-md-2 page-category clearfix">
			
			<div class="box-author">
				<figure class="alignnone">
					<img src="../images/authors/1.jpg">
				</figure>
				<ul class="list-socmed-article">
					<li><a href="#"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
					<li><a href="#"><i class="fa fa-rss"></i></a></li>
				</ul>
				<p>Joshua Graham earned his doctorate from Johns Hopkins University, and a master's degree from Juilliard. He has performed as a soloist and principal cellist domestically and internationally. Today he lives with his wife and children in San Diego.</p>
			</div><!-- / .box-category -->

		</div><!-- / .col-md-3 .page-category -->

		<div class="col-md-9 col-md-offset-1 page-content clearfix">
			
			<article class="article-page">
				<header class="header-page">
					<h2>Joshua Graham</h2>	
					<p class="meta-extra">new york time bestsellers</p>
				</header>
				<p>JOSHUA GRAHAM is the New York Times and USA Today bestselling author of Beyond Justice, Terminus, and Darkroom, the winner of the International Book Award, Forward National Literature Award, USA Book News Best Books Award, and host of Thriller Radio. His award-winning novel DARKROOM hit 3 bestseller lists on Amazon the night of its release.</p>
				<p>CBS NEWS described DARKROOM as a book with "action, political intrigue and well-rounded characters...a novel that thriller fans will devour."</p>
				<p>PUBLISHERS WEEKLY described BEYOND JUSTICE as: "A riveting legal thriller...breaking new ground with a vengeance...demonically entertaining and surprisingly inspiring."</p>
				<p>Suspense Magazine listed BEYOND JUSTICE in its BEST OF 2010, alongside titles by Scott Turrow, Ted Dekker, Steven James and Brad Thor.</p>
				<p>Many of Graham's readers blame him for sleepless nights, arriving to work late, neglected dishes and family members, and not allowing them to put the book down.</p>
				<p>Josh grew up in Brooklyn, NY where he lived for the better part of 30 years. He holds a Bachelor and Master's Degree and went on to earn his doctorate from Johns Hopkins University. During his time in Maryland, he taught as a professor at Shepherd College (WV), Western Maryland College, and Columbia Union College (MD).</p>
				<p>Today he lives with his beautiful wife and children in Southern California. </p>

				<hr>
				<blockquote>
					<p>Darkroom comes complete with a great mystery, unearthed secrets, and beguiling adventure. Joshua Graham mines an emotional landscape through an entourage of fascinating characters. Read this one--and take a walk on the perilous side.</p>
					<cite>Steve Berry</cite>
				</blockquote>
				<hr>
			</article>

		</div><!-- / .col-md-9 .page-content -->

	</div><!-- / .row -->
</div>