<!DOCTYPE html>
<!--[if IE 7]><html class="ie ie7"><![endif]--><!--[if IE 8]>
<html class="ie ie8"><![endif]--><!--[if IE 9]><html class="ie ie9">
<![endif]--><!--[if !(IE 7) & !(IE 8) & !(IE 9)]><!-->
<html><!--<![endif]-->

{% include head.html %}

<body class="clearfix">
	{% include header.html %}
	
	<main class="site-main">
		{{ content }}
	</main>

	{% include footer.html %}
	{% include script.html %}
</body>
</html>
