<!DOCTYPE html>
<!--[if IE 7]><html class="ie ie7"><![endif]--><!--[if IE 8]>
<html class="ie ie8"><![endif]--><!--[if IE 9]><html class="ie ie9">
<![endif]--><!--[if !(IE 7) & !(IE 8) & !(IE 9)]><!-->
<html><!--<![endif]-->

{% include tonang-head.html %}

<body class="clearfix">
    <!-- PRELOADER BEGIN -->
    <div id="preloader" >
        <div id="status">
            <img src="images/logo.png" alt="loading content..">
        </div>
    </div>
    <!-- PRELOADER END -->
	
	<main class="site-main">
		{{ content }}
	</main>
	{% include tonang-script.html %}
</body>
</html>
