---
layout: default
title: Contact Page
---

<div class="container">
	<div class="row main-container">
		
		<div class="space40"></div>
		<div class="clearfix"></div>

		<div class="col-md-12 page-content clearfix">
			<div class="row row-inner">

				<div class="col-md-8 contact-form clearfix">
					
					<h2 class="title-section">How to Touch Base</h2>

					<ul class="list-inline">
						<li>
							MacGregor Literary
						</li>
						<li>
							PO Box 1316
						</li>
						<li>
							Manzanita, OR 97130
						</li>
					</ul>

					<form action="#" class="form-contact">
						<div class="col-md-6 item clearfix">
							<input type="text" placeholder="First Name">
						</div>
						<div class="col-md-6 item clearfix">
							<input type="text" placeholder="Last Name">
						</div>
						<div class="col-md-6 item clearfix">
							<input type="email" placeholder="Email">
						</div>
						<div class="col-md-6 item clearfix">
							<input type="text" placeholder="Subject">
						</div>
						<div class="col-md-12 item clearfix">
							<textarea rows="4" placeholder="Message"></textarea>
						</div>
						
						<div class="clearfix"></div>
						<a href="#" class="btn btn-green btn-l">
							<span>send</span>
						</a>
					</form>

				</div><!-- / .col-md-8 .contact-form -->
				
				<div class="col-md-4 contact-map clearfix">
					<div id="map"></div>
				</div><!-- / .col-md-4 .contact-map -->

				<div class="clearfix"></div>
				<div class="space40"></div>
				<div class="space40"></div>
				
			</div>
		</div><!-- / .col-md-12 .page-content -->

	</div><!-- / .row .main-container -->
</div>

<section id="more" class="section-box section-more bg-gray">
	<div class="container">
		
		<h2 class="title-section text-reset">meet chip MacGregor</h2>

		<p class="intro-page" style="margin: -40px auto 20px;">
			<b>Get to know the founder of MacGregor and a little about what drives his passion for books</b>
		</p>

		<a href="#" class="btn btn-green btn-l">
			<span>learn more</span>
		</a>
	</div>
</section>