---
layout: default
title: Authors Page
---

<div class="container">
	<div class="row main-container">
		
		<div class="space40"></div>
		<div class="clearfix"></div>

		<div class="col-md-12 page-content clearfix">
			<p class="intro-page text-center">We are very proud to have worked with great authors and great words. Some of the people we’ve represented have hit the New York Times bestseller list, been finalists and winners for the Christy Award and the Gold Medallion, appeared on the Top 100 list, received starred reviews in Publishers Weekly, won RITA awards, won Romantic Times and Reader’s Choice awards, and made numerous “Best Books” lists.</p>

			<p class="intro-page text-center">Authors we represent have appeared on nearly every major television and radio program, from Oprah Winfrey and Montel Williams to Fox News and At Home Live. They have been written up in every conceivable sort of magazine, from Redbook to Writers Digest, and they have spoken to a wide variety of audiences, from small groups in church basements to at least four United States presidents. Every author we represent writes books that make a difference.</p>

			<p class="intro-page text-center">Some of the authors we represent include . . .</p>

			<div class="row section-inner">
				
				<div class="col-md-2 item-authors">
					<a href="#" class="subitem-authors">
						<figure>
							<img src="../images/authors/1.jpg">
						</figure>
						<h4>Joshua Graham</h4>
					</a>
				</div><!-- / .col-md-2 .item-authors -->

				<div class="col-md-2 item-authors">
					<a href="#" class="subitem-authors">
						<figure>
							<img src="../images/authors/2.jpg">
						</figure>
						<h4>Michael Hingson</h4>
					</a>
				</div><!-- / .col-md-2 .item-authors -->

				<div class="col-md-2 item-authors">
					<a href="#" class="subitem-authors">
						<figure>
							<img src="../images/authors/3.jpg">
						</figure>
						<h4>Susy Flory</h4>
					</a>
				</div><!-- / .col-md-2 .item-authors -->

				<div class="col-md-2 item-authors">
					<a href="#" class="subitem-authors">
						<figure>
							<img src="../images/authors/4.jpg">
						</figure>
						<h4>Davis Bunn</h4>
					</a>
				</div><!-- / .col-md-2 .item-authors -->

				<div class="col-md-2 item-authors">
					<a href="#" class="subitem-authors">
						<figure>
							<img src="../images/authors/5.jpg">
						</figure>
						<h4>Vince Zandri</h4>
					</a>
				</div><!-- / .col-md-2 .item-authors -->

				<div class="col-md-2 item-authors">
					<a href="#" class="subitem-authors">
						<figure>
							<img src="../images/authors/6.jpg">
						</figure>
						<h4>Chantel Hobbs</h4>
					</a>
				</div><!-- / .col-md-2 .item-authors -->

				<div class="col-md-2 item-authors">
					<a href="#" class="subitem-authors">
						<figure>
							<img src="../images/authors/7.jpg">
						</figure>
						<h4>David Gregory</h4>
					</a>
				</div><!-- / .col-md-2 .item-authors -->

				<div class="col-md-2 item-authors">
					<a href="#" class="subitem-authors">
						<figure>
							<img src="../images/authors/8.jpg">
						</figure>
						<h4>Vicki Hinze</h4>
					</a>
				</div><!-- / .col-md-2 .item-authors -->

				<div class="col-md-2 item-authors">
					<a href="#" class="subitem-authors">
						<figure>
							<img src="../images/authors/9.jpg">
						</figure>
						<h4>Jon Acuff</h4>
					</a>
				</div><!-- / .col-md-2 .item-authors -->

				<div class="col-md-2 item-authors">
					<a href="#" class="subitem-authors">
						<figure>
							<img src="../images/authors/10.jpg">
						</figure>
						<h4>rachel hauck</h4>
					</a>
				</div><!-- / .col-md-2 .item-authors -->

				<div class="col-md-2 item-authors">
					<a href="#" class="subitem-authors">
						<figure>
							<img src="../images/authors/11.jpg">
						</figure>
						<h4>mindy starns clark</h4>
					</a>
				</div><!-- / .col-md-2 .item-authors -->

				<div class="col-md-2 item-authors">
					<a href="#" class="subitem-authors">
						<figure>
							<img src="../images/authors/12.jpg">
						</figure>
						<h4>leslie gould</h4>
					</a>
				</div><!-- / .col-md-2 .item-authors -->

				<div class="col-md-2 item-authors">
					<a href="#" class="subitem-authors">
						<figure>
							<img src="../images/authors/1.jpg">
						</figure>
						<h4>joshua graham</h4>
					</a>
				</div><!-- / .col-md-2 .item-authors -->

				<div class="col-md-2 item-authors">
					<a href="#" class="subitem-authors">
						<figure>
							<img src="../images/authors/2.jpg">
						</figure>
						<h4>michael hingson</h4>
					</a>
				</div><!-- / .col-md-2 .item-authors -->

				<div class="col-md-2 item-authors">
					<a href="#" class="subitem-authors">
						<figure>
							<img src="../images/authors/3.jpg">
						</figure>
						<h4>susy flory</h4>
					</a>
				</div><!-- / .col-md-2 .item-authors -->

				<div class="col-md-2 item-authors">
					<a href="#" class="subitem-authors">
						<figure>
							<img src="../images/authors/4.jpg">
						</figure>
						<h4>davis bunn</h4>
					</a>
				</div><!-- / .col-md-2 .item-authors -->

				<div class="col-md-2 item-authors">
					<a href="#" class="subitem-authors">
						<figure>
							<img src="../images/authors/5.jpg">
						</figure>
						<h4>vince zandri</h4>
					</a>
				</div><!-- / .col-md-2 .item-authors -->

				<div class="col-md-2 item-authors">
					<a href="#" class="subitem-authors">
						<figure>
							<img src="../images/authors/6.jpg">
						</figure>
						<h4>chantel hobbs</h4>
					</a>
				</div><!-- / .col-md-2 .item-authors -->
				
				<div class="clearfix"></div>
				<div class="pagin-container text-center">
					
					<a href="#" class="prev">
						<i class="fa fa-chevron-left"></i>
					</a>
					<span>1</span>
					<a href="#">2</a>
					<a href="#">3</a>
					<a href="#">4</a>
					<a href="#">5</a>
					<a class="next">
						<i class="fa fa-chevron-right"></i>
					</a>

				</div><!-- / .pagin-container -->

			</div>
		</div><!-- / .col-md-12 .page-content -->

	</div><!-- / .row .main-container -->
</div>